<div class="login">
    <form class="login-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        
        <label class="login-label" for="user">User</label>
        <input 
            class="login-user"
            type="text"
            name="username"
            [(ngModel)]="this.username"
            placeholder="Username"
            required
        >
        
        <label class="login-label" for="passwd">Password</label>
        <input 
            class="login-passwd"
            type="password" 
            name="passwd" 
            [(ngModel)]="this.passwd"
            placeholder="Password"
            required
        >
        
        <input class="login-button" type="submit" value="Log In"> 
    </form>
</div>