<div>
    <form class="login" #form="ngForm" (onSubmit)="login()">
        
        <input 
            class="login-user"
            type="username"
            name="user"
            ngModel="username"
            placeholder="Username"
            required
        >
        <label class="login-label" for="user">User</label>

        <input 
            class="login-passwd"
            type="password" 
            name="passwd" 
            ngModel="passwd"
            placeholder="Username"
            required
        >
        <label class="login-label" for="passwd">Password</label>

        <button class="login-button" type="submit">Log In</button>
    </form>
</div>